target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/main/java/edu/au/cpsc/launcher/fonts/OFL.txt
/src/main/java/edu/au/cpsc/launcher/fonts/README.txt
/src/main/java/edu/au/cpsc/launcher/Roboto.zip
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Black.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-BlackItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Bold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-BoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-ExtraBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-ExtraBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-ExtraLight.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-ExtraLightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Italic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Light.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-LightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Medium.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-MediumItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-SemiBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-SemiBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-Thin.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto-ThinItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/Roboto-VariableFont_wdth,wght.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Black.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-BlackItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Bold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-BoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-ExtraBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-ExtraBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-ExtraLight.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-ExtraLightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Italic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Light.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-LightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Medium.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-MediumItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Regular.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-SemiBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-SemiBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-Thin.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_Condensed-ThinItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Black.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-BlackItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Bold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-BoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-ExtraBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-ExtraBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-ExtraLight.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-ExtraLightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Italic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Light.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-LightItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Medium.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-MediumItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Regular.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-SemiBold.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-SemiBoldItalic.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-Thin.ttf
/src/main/java/edu/au/cpsc/launcher/fonts/static/Roboto_SemiCondensed-ThinItalic.ttf
